<%- include("includes/head") %>
<body>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <h2>Wall-Facers</h2>
    <% for(post of posts)  { %>
        <div class="container">
            <h1> @<%=post.username%> </h1>
            <P><%=post.content%></P>
            <hr>
            <a href="http://localhost:8080/posts/<%=post.id%>">See In-details</a>
            &nbsp;&nbsp;
            <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>
            &nbsp;&nbsp;
            <a href="http://localhost:8080/posts/<%=post.id%>/delete">Delete</a>
        </div>
    <% } %>

    <br>
    <br>
    <a href="http://localhost:8080/posts/new">Create New</a>
</body>
<%- include("includes/footer") %>
